{% extends "base.html" %}

{% block title %}
500 Server Error
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="error mx-auto" data-text="500">500</div>
    <p class="lead text-gray-800 mb-5">Server Error</p>
    <p class="text-gray-500 mb-0">Something went wrong on our side...</p>
    <a href="/">&larr; Back to Dashboard</a>
</div>
{% endblock %}
