{% load styles %}
{% load getattribute %}

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow h-100 py-2 {% if grouped_issue.is_regression %}border-left-danger{% endif %}" id="issue-{{ grouped_issue.issue.id }}">
      <div class="card-body show-hidden">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">
              <i class="fas fa-bug text-danger"></i>
              Known Issue
              {% if grouped_issue.builds %}
              | {{ grouped_issue.builds | length }} Build{{ grouped_issue.builds|pluralize }} Affected
              {% endif %}
              {% if grouped_issue.tests %}
              | {{ grouped_issue.tests | length }} Test{{ grouped_issue.tests|pluralize }} Affected
              {% endif %}
              {% if grouped_issue.is_regression %}
              | <span class="text-danger">REGRESSION</span>
              {% endif %}

              {% if perms.datawarehouse.change_issueoccurrence %}
              <span class="dropdown-toggle hide" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                | Actions
              </span>

              <div class="dropdown-menu text-capitalize">
                <!-- Button to remove all these tests and builds related to this issue. -->
                <form action={% url 'function.issueoccurrence.regression.toggle' %} method="post">
                  {% csrf_token %}

                  {% for occurrence in grouped_issue.checkouts %}
                    <input type="hidden" id="issueoccurrences_ids" name="issueoccurrences_ids" value="{{ occurrence.id }}">
                  {% endfor %}
                  {% for occurrence in grouped_issue.tests %}
                    <input type="hidden" id="issueoccurrences_ids" name="issueoccurrences_ids" value="{{ occurrence.id }}">
                  {% endfor %}
                  {% for occurrence in grouped_issue.builds %}
                    <input type="hidden" id="issueoccurrences_ids" name="issueoccurrences_ids" value="{{ occurrence.id }}">
                  {% endfor %}

                  <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
                  <button class="dropdown-item btn-link" type="submit">
                    {% if grouped_issue.is_regression %}
                    Untag as regression
                    {% else %}
                    Tag as regression
                    {% endif %}
                  </button>
                </form>

                <!-- Button to remove all these tests and builds related to this issue. -->
                <form action={% url 'views.kcidb.issues' %} method="post" onsubmit="return confirmRemoveIssue();">
                  {% csrf_token %}
                  <input type="hidden" id="action" name="action" value="remove">
                  <input type="hidden" id="issue_id" name="issue_id" value="{{ grouped_issue.issue.id }}">
                  {% for occurrence in grouped_issue.checkouts %}
                    <input type="hidden" id="checkout_iids" name="checkout_iids" value="{{ occurrence.kcidb_checkout.iid }}">
                  {% endfor %}
                  {% for occurrence in grouped_issue.tests %}
                    <input type="hidden" id="test_iids" name="test_iids" value="{{ occurrence.kcidb_test.iid }}">
                  {% endfor %}
                  {% for occurrence in grouped_issue.builds %}
                    <input type="hidden" id="build_iids" name="build_iids" value="{{ occurrence.kcidb_build.iid }}">
                  {% endfor %}
                  <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
                  <button class="dropdown-item btn-link text-danger font-weight-bold " type="submit">
                    Remove
                  </button>
                </form>
              </div>
              {% endif %}
            </div>

            <div class="h5 mb-0 font-weight-bold">
              <div class="rotate" href="#collapse-occurrences-{{ grouped_issue.issue.id }}" data-toggle="collapse">
                <i class="fa fa-chevron-right chevron"></i>
                <span class="badge badge-danger" style="background-color: {{ grouped_issue.issue.kind.color }}"
                      title="{{ grouped_issue.issue.kind.description }}">{{ grouped_issue.issue.kind.tag }}</span>
                <a {% if grouped_issue.is_regression %}class="text-danger"{% endif %} href="{% url 'views.issue.get' grouped_issue.issue.id %}">
                    {{ grouped_issue.issue.description }}
                </a>
              </div>
            </div>
            <div class="collapse" id="collapse-occurrences-{{grouped_issue.issue.id}}">
              {% if grouped_issue.builds %}
                <label>Builds Affected</label>
                <div class="table-responsive">
                  <table class="table table-hover table-sm" width="100%" cellspacing="0">
                    <tbody>
                      {% for occurrence in grouped_issue.builds %}
                        {% include 'tables/row_build_issue_occurrence.html' %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}

              {% if grouped_issue.tests %}
                <label>Tests Affected</label>
                <div class="table-responsive">
                  <table class="table table-hover table-sm" width="100%" cellspacing="0">
                    <tbody>
                      {% for occurrence in grouped_issue.tests %}
                        {% include 'tables/row_test_issue_occurrence.html' %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
