<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header">
        Automated actions
      </div>
      <div class="card-body">
        <label>Last Triaged At:</label> {{ object.last_triaged_at|default:'Never' }}
      </div>
    </div>
  </div>
</div>
