<template id="template-issue-regex">
    {% include 'styles.html' %}
    <div class="input-group ">
        <input type="text" class="form-control" name="text_match"
            id="issue-regex-text-match"
            placeholder="Regex to look for in the logs"
            value="">

        <!-- Regex flags  -->
        <div class="dropdown">
            <button id="regex-flags-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="collapse" aria-expanded="false" data-target="#regex-flags-collapse">
                Set Regex Options
            </button>
            <div class="dropdown-menu px-2" id="regex-flags-collapse">
                <label class="form-check-label dropdown-item" for="regex-flag-s" title="Make the '.' special character match any character at all, including a newline; without this flag, '.' will match anything except a newline.">
                    <input class="form-check-input" type="checkbox" id="regex-flag-s" value="s">
                    S - dot matches all
                </label>
                <label class="form-check-label dropdown-item" for="regex-flag-i" title="Perform case-insensitive matching; expressions like [A-Z] will also match lowercase letters.">
                    <input class="form-check-input" type="checkbox" id="regex-flag-i" value="i">
                    I - ignore case
                </label>
                <label class="form-check-label dropdown-item" for="regex-flag-m" title="^ and $ match start/end of a line, in addition to start/end of the string">
                    <input class="form-check-input" type="checkbox" id="regex-flag-m" value="m">
                    M - multi line
                </label>
                <label class="form-check-label dropdown-item" for="regex-flag-a" title="Make \w, \W, \b, \B, \d, \D, \s and \S perform ASCII-only matching instead of full Unicode matching.">
                    <input class="form-check-input" type="checkbox" id="regex-flag-a" value="a">
                    A - ASCII-only
                </label>
            </div>
        </div>
    </div>
</template>

<script type="module">
// Define template with JS to facilitate importing it
const template = document.getElementById('template-issue-regex');

/**
 * Extracts inline regex flags and the remaining pattern from a Python's regex pattern.
 *
 * @param {string} pattern - The Python's regex pattern to extract flags and pattern from.
 * @returns {Object} An object with the keys "inlineFlags" (a set of inline flags
 * found in the pattern, or an empty set if none are found) and "pattern" (the
 * remaining pattern after any inline flags have been removed).
 *
 * @example
 * extractInlineRegexFlags('(?s)Foo.*bar') // returns {inlineFlags: {'s'}, pattern: 'Foo.*bar'}
 * extractInlineRegexFlags('Foz.*baz') // returns {inlineFlags: {}, pattern: 'Foz.*baz'}
 */
function extractInlineRegexFlags(pattern) {
    const regex = /^(?:\(\?(?<flags>[aiLmsux]*)\))?(?<rest>.*)/;
    const match = regex.exec(pattern);
    return {
        inlineFlags: new Set(match.groups.flags || ''),
        pattern: match.groups.rest,
    }
}

class InputRegex extends HTMLElement {
    static formAssociated = true;

    static get observedAttributes() {
        return ['value'];
    }

    constructor() {
        super();

        this.internals = this.attachInternals();
        const shadowRoot = this.attachShadow({ mode: "open" });
        this.shadowRoot.append(template.content.cloneNode(true));

        this.input = this.shadowRoot.querySelector("#issue-regex-text-match");
        this.button = this.shadowRoot.querySelector("#regex-flags-button");
        this.menu = this.shadowRoot.querySelector("#regex-flags-collapse");
        this.checkboxesFlags = this.shadowRoot.querySelectorAll("#regex-flags-collapse input[type=checkbox]");
    }

    connectedCallback() {
        this.input.value = this.value;

        this.button.addEventListener('click', event => {
            this.menu.classList.toggle('show');
        })

        document.addEventListener('click', (event) => {
            const isInside = this.contains(event.target);
            if (this.menu.classList.contains('show') && !isInside) {
                this.menu.classList.remove('show')
            }
        })

        this.input.addEventListener("input", event => {
            // Check/uncheck checkboxes based on presence of inline flags
            const pythonRegex = event.target.value;
            const {inlineFlags, pattern} = extractInlineRegexFlags(pythonRegex);

            this.checkboxesFlags.forEach(cbox => {
                cbox.checked = inlineFlags.has(cbox.value);
            });

            // Update state for form
            this.internals.setFormValue(pythonRegex);
        });

        this.checkboxesFlags.forEach(cbox => {
            cbox.addEventListener('change', () => {
                // Add/remove inline flags based on checked checkboxes
                let pythonRegex = this.input.value;
                const {inlineFlags, pattern} = extractInlineRegexFlags(pythonRegex);

                if (cbox.checked) {
                    inlineFlags.add(cbox.value);
                } else {
                    inlineFlags.delete(cbox.value);
                }

                if (inlineFlags.size) {
                    pythonRegex = `(?${Array.from(inlineFlags).join('')})${pattern}`;
                } else {
                    pythonRegex = pattern;
                }
                this.input.value = pythonRegex;
                this.internals.setFormValue(pythonRegex);
            });
        });

        // Dispatch "input" event to trigger checkbox update
        this.input.dispatchEvent(
            new Event('input', { bubbles: true, composed: true })
        );
    }

    attributeChangedCallback(name, oldValue, newValue) {
        if (name === 'value') {
            this.internals.setFormValue(newValue);
            this.input.value = newValue;
        }
    }

    get value() {
        return this.getAttribute('value');
    }

    set value(newValue) {
        this.setAttribute('value', newValue);
    }
}

// Define the web component
customElements.define("input-regex", InputRegex);
</script>
